<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  
</head>

<body>
 <div class="login">
	<h1> Historical Analysis</h1>
  <!-- <img src="/fig2.png"> -->
  <div style="align-content: center">
      <img src="/static/css/fig1.png" alt="">
  </div>
  <div style="align-content: center">
    <img src="/static/css/fig2.png" alt="">
  </div>
  <div style="position: relative;">
    <img src="/static/css/fig3.png" alt="">
  </div>
  <div style="position: relative;">
    <img src="/static/css/fig4.png" alt="">
  </div>
  <div style="position: relative;">
    <img src="/static/css/fig5.png" alt="">
  </div>
 </div>

</body>
</html>
